html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url("https://images.contentstack.io/v3/assets/blt822c60c126c92e3a/bltcb4ffbe17cc5d27d/5f8d80031f5f6d4173b510a4/NotebookPaper-wideruleLETTER_prev.jpg?format=jpg&auto=webp&overlay-align=middle,center&width=1200&height=630&fit=crop");
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: clamp(1.5rem, 2.5vw, 2rem);
}

h2 {
  font-size: clamp(1.3rem, 2.5vw, 1.7rem);
}

#title {
  animation: title-intro 0.8s ease-in-out forwards;
}

@keyframes title-intro {
  0% {
    opacity: 0;
    transform: translate(-15%);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

#sec-title {
  animation: sec-title-intro 0.8s ease-in-out forwards 0.2s;
  opacity: 0;
}

@keyframes sec-title-intro {
  0% {
    transform: translate(15%);
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}

.choices {
  display: flex;
  margin: clamp(1rem, 2vw, 1.5rem);
  animation: choices-intro 0.8s ease forwards 0.8s;
  opacity: 0;
  transform: translateY(10%);
}

@keyframes choices-intro {
  50% {
    opacity: 1;
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.rps {
  display: block;
  width: clamp(80px, 12vw, 160px);
  cursor: pointer;
  transition: all 0.08s ease;
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.clicked {
  transform: scale(0.9);
}

.display {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.player,
.computer {
  width: clamp(100px, 15vw, 200px);
  height: clamp(100px, 15vw, 200px);
  border: 2px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in;
}

.player > img,
.computer > img {
  width: clamp(90px, 15vw, 190px);
}

.display > div > h2 {
  text-align: center;
}

.chosen-hand-player {
  animation: hand-intro-player 0.5s ease-out forwards;
}

@keyframes hand-intro-player {
  100% {
    transform: rotate(70deg);
  }
}

.chosen-hand-computer {
  animation: hand-intro-computer 0.4s ease-out forwards;
}

@keyframes hand-intro-computer {
  100% {
    transform: rotate(-70deg);
  }
}

.modal {
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: clamp(200px, 25vw, 500px);
  background-color: #ef5480;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.3s ease-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: white;
}

.show {
  transform: translate(-50%, -50%) scale(1);
}

.restart-btn {
  font-size: clamp(24px, 2vw, 30px);
  background-color: #73dae1;
  border-radius: 6px;
  border-color: black;
  cursor: pointer;
}

.restart-btn:active {
  transform: scale(0.9);
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
}

/*overlay*/
.active {
  display: block;
}

/* typing animation*/
.winner {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.3rem; /* Adjust as needed */
  animation: typing 2s steps(30, end) forwards 1.2s;
  opacity: 0;
}

@keyframes typing {
  from {
    width: 0;
    opacity: 1;
  }
  to {
    width: 100%;
    opacity: 1;
  }
}

.display {
  animation: hand-intro 1s ease forwards 1.3s;
  opacity: 0;
}

@keyframes hand-intro {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.modal-msg {
  margin-top: 0;
}

.footer {
  position: absolute;
  bottom: 0;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  width: 100%;
  animation: footer-intro 2s ease forwards 2s;
  opacity: 0;
}

@keyframes footer-intro {
  100% {
    opacity: 1;
  }
}

.footer > a {
  text-align: center;
  text-decoration: none;
  font-size: clamp(12px, 1.5vw, 18px);
  font-weight: 600;
  color: black;
}

.footer > a > img {
  width: clamp(12px, 1.5vw, 18px);
  border-radius: 50%;
  margin-left: 6px;
}
